@model AppControleJuridico.Models.Processo

@{
    ViewData["Title"] = "Detalhes do Processo Cadastrado";
}

<h3>@ViewData["Title"]</h3>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.NomeCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoJustiça)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoJustiça)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoAcao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoAcao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroProcesso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroProcesso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParteContraria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParteContraria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autuacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autuacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tramites)
        </dt>
        <dd class = "col-sm-10 text-break">
            @Html.DisplayFor(model => model.Tramites)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorCausa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorCausa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
    </dl>
</div>

<div>
<br />
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> 
    <a Class="btn btn-success" asp-action="Index">Voltar</a>
</div>

